<div class="logo"><a href="#">
<img src="/assets/logo.png" width="340" height="135"  align="middle"/></a></div>

<h4>Welcome <%=current_user.email.capitalize%>!</h4>

<center>
<%= link_to "Sign out", destroy_user_session_path %></center>
<div class="Sign-In" style="width:1200px">
<div><%= link_to 'back to dashboard', "/home/dashboard"%></div>
<h2> <%= @category%> Reports   </h2>

<% if @csvreports != []%>
   <table>
   <%@csvreports.each do |csv|%>
   <tr><td style="width:400px;">
      <%name =  (csv.csvfile_file_name).split('.cs')%>
	  <%name_id = csv.id%>
	  <%= link_to name[0], "/chart/#{name_id}"%></td>
	    <% if(current_user.email == 'admin') %>
		<td> <%= link_to 'Delete', "/delet/#{name_id}"%></td>
		<% end %>
   </tr>
   
   <% end %>
   </table>
<% else %>
   <div><center>Currently no files uploaded</center></div>   
<% end %>

</div>