
<div class="logo"><a href="#">
<img src="/assets/logo.png" width="340" height="135"  align="middle"/></a></div>

<h4>Welcome <%=@current_user.capitalize%>!</h4>
<center>
<%= link_to "Sign out", destroy_user_session_path %></center>
<div class="Sign-In" style="width:1200px">
<div><%= link_to 'Back to Main_Page', admin_page_path%></div>
<h2> Create User  </h2>

<%= form_for(@user,:url => create_user_path) do |f| %>
 <p class="float-LT">
<table>
 <tr>
 <td><%= f.label :User_Name %></td>
 <td><%= f.text_field :email,  :class=>"error"%></td><td><p><span class="err-msg"><%=@user.errors[:email][0]%></span></p></td></tr>
 <tr><td></td><td><p><span class="hint">eg:g@go.com</span></p></td></tr>
   
   
   
  

</p>

<p class="float-LT">

  
  <tr><td><%= f.label :password %></td>
  <td><%= f.password_field :password ,:class=>"error"%></td><td><p><span class="err-msg"><%=@user.errors[:password][0]%></span></p></td></tr>
  <tr><td></td><td><p><span class="hint">Minimum 6 characters</span></p></td></tr>
   
  
</p>


<p class="float-LT">
<tr><td>Position:</td>

<td ><span style='margin-left:1px;'>CEO<%= radio_button_tag(:position, "ceo") %>Manager<%= radio_button_tag(:position, "manager") %>Staff<%= radio_button_tag(:position, "staff") %></span></td><td><p><span class="err-msg"><%=@user.errors[:position][0]%><span></p></td></tr>
</p>
<tr><td></br></td></tr>
<tr><td><%= f.submit "create" %></td></tr>

<% end %>
</table>
</div>
