
<div class="logo"><a href="#">
<img src="/assets/logo.png" width="340" height="135"  align="middle"/></a></div>
<div class="Sign-In">
<h4>Sign In</h4>
<div style="margin-top:40px;"></div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<p class="float-LT">
<%= f.label :username %>
<%= f.text_field :email %>
</p>

<p class="float-LT">
<%= f.label :password %>
<%= f.password_field :password %>
</p>




<%= f.submit "Login" %>


<% end %>

<%#render :partial => "devise/shared/links" %>